*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Syne';
    
}
:root{
    --clr-b: #222327;
    --clr-w:#fff;
}

.nav{
    margin-top: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 0;
}
.left{
    border-radius: 15px;
    
    flex: 1;

    display:flex;
    float: left;
    margin-left: 30px;
    margin-right: 30px;
    
    text-align: center;
    height: 70px;
    max-width: 340px;
    padding: 15px;
    overflow:hidden;
    background-color: var(--clr-b);
}
.left h1{
    
    text-align: center;
    justify-content: center;
    
    margin: 0;
    padding: 0;
}
.m_name{
    
    width: 300px;
    height: 30px;
    margin-top: 5px;
    text-align: center;
    position: relative;
    color: var(--clr-w);
}
.center{
    flex: 2;
}
.nav_bar{
    display: flex;
    justify-content: center;
    align-items: center;
    
    position: relative;
    /* padding: 5px 5px 5px 5px; */
    
    width: 400px;
    height: 70px;

    background: var(--clr-b);
    border-radius: 15px;
}
.nav_bar ul{
    display: flex;
    width: 350px;
}
.nav_bar ul li{
    position: relative;
    list-style: none;
    width: 70px;
    height: 70px;
    padding-left: 8px;
    padding-right: 8px;
    z-index: 1;
}
.l1 a{
    color: var(--clr-w);
    text-decoration: none;
    margin-top: 25px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    
    width: 75px;
    text-align: center;
    font-weight: 510;
    transition: .5s;
}
.l1.active a {
    color: var(--clr-b);
    transform: translateY(35px);
}
.indi{
    margin-right: 8px;
    margin-left: 8px;
    position: absolute;
    width: 75px;
    height: 70px;
    background: white;
    top: 50%;
    border-radius: 50%;
    border: 6px solid var(--clr-w);
    transition: 0.5s;

}
.indi::before{
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    /* background: red; */
    background: transparent;
    top: 16%;
    left: -21px;
    border-bottom-right-radius: 25px;
    /* border-bottom-left-radius: 0px; */

    box-shadow: 0px 10px 0 0 var(--clr-w);
}

.indi::after{
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    /* background: red; */

    background: transparent;
    top: .06%;
    right: -28.39px;
    border-bottom-left-radius: 45px;
    /* border-bottom-right-radius: 1px; */

    box-shadow: 0px 10px 0 0 var(--clr-w);
}
.l1:nth-child(0).active ~ .indi{
    transform: translateX(calc(0px * 0));
}
.l1:nth-child(1).active ~ .indi{
    transform: translateX(calc(0px * 1));
}
.l1:nth-child(2).active ~ .indi{
    transform: translateX(calc(68px * 1));
}
.right{
    
}
footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 20px;
    margin-top: 50px;
}